<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paku.mavlinkhub"
    android:versionCode="1"
    android:versionName="0.4" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
	<supports-screens android:smallScreens="false"/>    

    <application
        android:name="com.paku.mavlinkhub.HUBGlobals"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >        
        
        <activity
            android:name="com.paku.mavlinkhub.HUBActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" > 
            <!--
			android:theme="@style/Theme.AppCompat.Light">
			-->             
			
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
    		<intent-filter>
        		<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
         		<category android:name="android.intent.category.LAUNCHER" />    
    		</intent-filter>
    		
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_devices" />    		

            
            
        </activity>
        <activity
            android:name="com.paku.mavlinkhub.HUBActivitySettings"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>